body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vw;
}
#movie-container {
    text-align: center;
    padding: 20px;
}
#movie-container img {
    width: 300px;
    height: auto;
}

#movie-title{
    color: white;
    font-size: 50px;
}
p {
    color: red;
    font-size: 20px;
}

#buy-ticket-button{
  padding: 10px;
  font-size: 18px;
}
button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#films {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film.item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;

}

.sold-out {
    text-decoration: line-through;
    color: grey;
}